
.examples-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  
    div {
      flex: 1;
      border: 1px solid black ;
      border-radius: 4px;
      padding: 4px;
    }

    @media only screen and (max-width: 400px) {
      flex-direction: column;
    }
  }
  